*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0b0b1a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#09091a;
}

.logo{
font-size:22px;
color:#00e5ff;
}

nav a{
margin-left:25px;
color:white;
text-decoration:none;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:100px 10%;
}

.hero-text h1{
font-size:45px;
background:linear-gradient(90deg,#00e5ff,#ff00ff);
-webkit-background-clip:text;
color:transparent;
}

.hero-text p{
margin-top:20px;
width:400px;
}

button{
margin-top:20px;
padding:10px 25px;
border:none;
background:#00e5ff;
color:black;
border-radius:6px;
cursor:pointer;
}

.hero-image img{
width:420px;
height:auto;
border-radius:12px;
box-shadow:0 0 30px #00e5ff;
}
section{
padding:80px 10%;
}

h2{
text-align:center;
margin-bottom:40px;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.card{
background:#14142b;
padding:30px;
border-radius:10px;
text-align:center;
}

.project-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.project{
background:#14142b;
padding:30px;
border-radius:10px;
}

#contact{
text-align:center;
}
